<div class="row">
	<div class="col-sm-9 content-wrapper">
		<!-- <h1>
			Hi, I'm Rashad Abdul-Salaam.<br>
			<small>I'm passionate about startups, software and digital design.</small>

		</h1>

		<p class="text-justify">
			Welcome my little home away from home on the internet: a place to showcase my work and ponder about my passions. I built this digital get-away primarily using Rails 4 and  Bootstrap 3 for easy styling and content publishing. I will be posting links to some of my personal projects and portfolio work, along with written pieces expounding upon my perspective on business, tech, and other flights of fancy.
		</p>

		<p class="text-justify">
			Additionally, I'm available for web-design and development projects and contract work. This includes everything from simple startup MVP landing pages and static HTML sites, to more complex web applications requiring user sign-up/login, content management, etc.
		</p>
		<p class="text-justify">
			Feel free to contact me with inquiries via the button to the right.
		</p>
 -->
		<%#= render @projects %>

		<%= render 'projects/project' %>

	</div>

	<% if @articles %>
		<div class="col-sm-3">
			<h2>Latest Updates</h2>
		</div>

	<% else %>

		<aside class="col-sm-3"> 
			<div class="text-center">
				<h2>Hi, I'm Rashad</h2>
				<%= image_tag 'GG_Suit.gif', class: "gg-selfie" %> <br /><br />
			</div>

			<p class="text-justify bio-text">
				I'm passionate about design, startups and all things tech. I want to help you take over the world through great web-design, whether your needs range from a simple landing page, up to a complex web application with content and multi-user management.
			</p>

			<ul class="inline soc-med-icons">
				<li><%= link_to image_tag("linkedin.png"), "https://www.linkedin.com/in/rashadabdulsalaam", target: "_blank" %></li>
				<li><%= link_to image_tag("facebook.png"), "https://www.facebook.com/rsalaam80", target: "_blank" %></li>
				<li><%= link_to image_tag("twitter.png"), "https://www.twitter.com/rabdulsal", target: "_blank" %></li>
				<li><%= link_to image_tag("email.png"), 'mailto:rabdulsalaam@gmail.com' %></li>
			</ul>

			<!--<p>
				<%#= link_to 'Email', 'mailto:rabdulsalaam@gmail.com', class: "btn btn-success btn-lg text-center", title: 'Click to email me' %>
			</p>-->
		</aside>
	<% end %>

</div>


