<div class="row">
  <section class="col-sm-8">

  <%= form_for @article, html: { multipart: true } do |f| %>
    <p>
      <%= f.label :title %><br>
      <%= f.text_field :title, class: "full-width fat-title" %>
    </p>
   
    <p>
      <%= f.label :description %><br>
      <%= f.text_area :description, class: "full-width fat-description" %>
    </p>

    <div class="form-group">
      <% if f.object.image? %>
        <%= image_tag(f.object.image.url(:medium)) %>
        <br />
        <em>Current image</em><br />
      <% end %>
      <%= f.label :image %>
      <%= f.file_field :image, html: { class: 'form-control' } %>
    </div>
   
    <p>
      <%= f.submit "Save", class: "btn btn-primary" %>
    </p>
  <% end %>

  </section>

  <section class="col-sm-4">

    <%= render "articles_sidebar" %>

  </section>
</div>