<h1 class="lead project-index-title text-center">My Projects</h1>

<% @projects.each do |project| %>

<div class="clearfix push-down">

	<% proj_main_pic = project.images.first %>
	<% if proj_main_pic %>
	<section class="pull-left push-right">
		<%= link_to image_tag(proj_main_pic.asset.url(:medium)), project_path(project), class: "media-object" %>
	</section>	
	<% end %>	

	<section class="media-body">

		<h2 class="media-heading"><%= link_to "#{project.name}", project_url(project) %></h2>

		<% if project.project_type %>		
			<small class="label label-info"><%= project.project_type %></small>
		<% end %>

		<p class=""><%= truncate(project.instructions, length: 140) %></p>

		<%# project.images.each do |image| %>

		<!--<div>
			<%#= link_to 'Edit', edit_project_path(project) %> | 
            <%#= link_to 'Delete', project, method: :delete, data: { confirm: 'Are you sure?' } %>
            <%# if image.id != @proj_main_pic.id %>

	            <ul class="sans-bullets">
					<li>
						<%#= link_to image_tag(image.asset.url(:thumb)), project_image_path(project, image) %>
					</li>
				</ul>

			<%# end %>	        	
    	</div>-->

    	<%# end %>

    	<%= link_to "Read more", project_path(project), class: "pull-right" %>

    </section>
</div>
<% end %>
		
	