<h1>My Projects</h1>

	<% @projects.each do |project| %>

		<h2><%= link_to "#{project.name}", project_url(project) %></h2>

		<p><%= project.instructions %></p>

		<% project.images.each do |image| %>

			<div class="pull-left">
					
					<%= link_to 'Edit', edit_project_path(project) %> | 
		            <%= link_to 'Delete', project, method: :delete, data: { confirm: 'Are you sure?' } %>
		            <br /><br />

					<%= link_to image_tag(image.asset.url(:medium)), project_image_path(project, image) %>  	        	
        	</div>

		<% end %>

	<% end %>