<% if notice %>
	<div class="alert alert-warning alert-dismissible" role="alert">
	  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	  <p id="notice"><%= notice %></p>
	</div>
	
<% end %>

<%#= render @partial %>

<div class="content-wrapper">

	<p class="push-up push-left">
		<%= link_to "<- Back to Projects", projects_path %>
	</p>
	
	<h1 class="lead project-show-title push-down text-center">
		<%= @project.name %>
		<% if current_user %>
		<span class="lead">
			<%= link_to 'Edit', edit_project_path(@project) %>
			<%#= link_to 'New Article', new_project_article_path(@project) %>			
		</span>
		<% end %>
	</h1>	

	<% if @project.language %>

	<ul class="text-center">
		<% @project.languages.each do |language| %>
		<li class="inline label label-info push-right">
			<%= language %>
		</li>

		<% end %>
	</ul>

	<% end %>

	<section class="centered-anchor huge-push-up">
		<div class="project-description centered-block">
		  	<p class="text-justify">
		  		<%= @project.instructions %>
		  	</p>
		  	<p class="text-justify">
		  		Go to the full Project: <%= link_to "#{@project.name}", "http://happyhealth.herokuapp.com/enter", target: "_blank" %> 
		  	</p>
	  	</div>
	</section>

	<section class="centered-anchor">
		<% @project.images.each do |project_image| %>
		<div class="centered-block project-image huge-push-up">
			<% if current_user %>
				<%= link_to image_tag(project_image.asset.url(:large)), project_image_path(@project, project_image)  %>
				<!--<a href="<%#=project_image.asset.url(:large)%>" class="fancybox" title="Sample title"><img src="<%#=project_image.asset.url(:medium)%>" /></a>-->

			<% else %>

				<%= image_tag project_image.asset.url(:large) %>

			<% end %>
				  
			
		</div>			
		<% end %>
	</section>

</div>

<% if @project.article %>

	<h2><%= @project.article.title %></h2>

	<p>
		<%= @project.article.description %>
	</p>

	<p>
		<%= image_tag @project.article.image.url(:medium) %>
	</p>

<% end %>

