<p id="notice"><%= notice %></p>

<%#= render @partial %>

<div>
	<h1>
		<%= @project.name %>
		<span class="lead">
			<%= link_to 'Edit', edit_project_path(@project) %> |
			<%#= link_to 'New Article', new_project_article_path(@project) %>
			<%= link_to 'All Projects', projects_path %>
		</span>
	</h1>
	

	<h2>Description:</h2>
  	<p class="lead"><%= @project.instructions %></p>

	<div>
		<% @project.images.each do |project_image| %>

		<%= image_tag project_image.asset.url(:medium) %> <br />

		<%= link_to "Show", [@project, project_image] %> | 
		<%= link_to "Edit", edit_project_path(@project) %> | 
		<%= link_to "Delete", [@project, project_image], method: :delete %>

		<br /><br />

		<% end %>
	</div>

</div>

<% if @project.article %>

	<h2><%= @project.article.title %></h2>

	<p>
		<%= @project.article.description %>
	</p>

	<p>
		<%= image_tag @project.article.image.url(:medium) %>
	</p>

<% end %>


