<p id="notice"><%= notice %></p>

<%#= render @partial %>

<div>
	<h1>
		<%= link_to "#{@project.name}", projects_path %>
		<span class="lead">
			<%= link_to 'Edit', edit_project_path(@project) %>
			<%#= link_to 'New Article', new_project_article_path(@project) %>			
		</span>
	</h1>

	<section class="row push-up">
		<% @project.images.each do |project_image| %>
		<div class="col-sm-4 centered-block">
			
				<%= link_to image_tag(project_image.asset.url(:medium)), project_image_path(@project, project_image), class: "project-image-center" %>
				<!--<a href="<%#=project_image.asset.url(:large)%>" class="fancybox" title="Sample title"><img src="<%#=project_image.asset.url(:medium)%>" /></a>-->
				  
			
		</div>			
		<% end %>
	</section>

	<section class="border-top push-up">
		<h2>Description:</h2>
	  	<p><%= @project.instructions %></p>

	  	<p>
	  		View the full project here: <%= link_to "#{@project.name}", "http://happyhealth.herokuapp.com/enter", target: "_blank" %> 
	  	</p>
  	</section>

</div>

<% if @project.article %>

	<h2><%= @project.article.title %></h2>

	<p>
		<%= @project.article.description %>
	</p>

	<p>
		<%= image_tag @project.article.image.url(:medium) %>
	</p>

<% end %>

