<p id="notice"><%= notice %></p>

<h1><%= @project.name %></h1>

<div>
  <%= image_tag @image.asset.url(:large) %>
</div>

<%= link_to 'Edit', edit_project_image_path(@project, @image) %> |
<%= link_to 'Back', project_path(@project) %>
